# RPC URLs for different networks
VITE_LOCAL_RPC=http://127.0.0.1:8545
VITE_MAINNET_ARCHIVE_RPC=https://eth.llamarpc.com
VITE_SEPOLIA_ARCHIVE_RPC=https://rpc.sepolia.org

# WalletConnect Project ID (optional)
VITE_WALLETCONNECT_PROJECT_ID=demo
