[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/eigenlayer-contracts"]
	path = lib/eigenlayer-contracts
	url = https://github.com/Layr-Labs/eigenlayer-contracts
[submodule "lib/openzepplin-contracts-v5"]
	path = lib/openzepplin-contracts-v5
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/openzepplin-contracts-upgradeable-v5"]
	path = lib/openzepplin-contracts-upgradeable-v5
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "lib/uniswap-universal-router"]
	path = lib/uniswap-universal-router
	url = https://github.com/Uniswap/universal-router
	branch = main
[submodule "lib/uniswap-permit2"]
	path = lib/uniswap-permit2
	url = https://github.com/Uniswap/permit2
